@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

<<<<<<< HEAD
    <a class="btn btn-default" href="https://www.cajasanrafael.com.mx/Caja_San_Rafael/index.php/credito.html">
        <img src="~/Images/Captura2.JPG" width="400" height="119" />
=======
    <a class="btn btn-default" href="https://www.cajasanrafael.com.mx/Caja_San_Rafael/index.php">
        <img src="~/Images/Captura1.png" width="400" height="90" />
>>>>>>> 6e1296d4a735628ed03e8ab9d57936a716dd9e7b
    </a>
    <h1>Caja Popular San Rafael</h1>

</div>

<div class="row">
    <div align="center" class="col-md-4">
<<<<<<< HEAD
        <a class="btn btn-default" href="https://www.cajasanrafael.com.mx/Caja_San_Rafael/index.php/credito.html">
            <img src="~/Images/cotizacion.jpg" width="275" height="183" />
        </a>
        <p align="center"><b>Cotizacion</b></p>
    </div>
    <div align="center" class="col-md-4">
        <a class="btn btn-default" href="https://www.cajasanrafael.com.mx/Caja_San_Rafael/index.php/credito.html">
=======
        <a class="btn btn-default a_demo_two" href="http://localhost:2128/Cotizaciones">
            <img src="~/Images/cotizacion.jpg" width="275" height="183" />
        </a>
        <p align="center"><b>Cotizaciones</b></p>
    </div>
    <div align="center" class="col-md-4">
        <a class="btn btn-default a_demo_two" href="http://localhost:2128/contratos">
>>>>>>> 6e1296d4a735628ed03e8ab9d57936a716dd9e7b
            <img src="~/Images/contrato.jpg" width="275" height="183" />
        </a>
        <p align="center"><b>Contratos</b></p>
    </div>
    <div align="center" class="col-md-4">
<<<<<<< HEAD
        <a class="btn btn-default" href="https://www.cajasanrafael.com.mx/Caja_San_Rafael/index.php/credito.html">
=======
        <a class="btn btn-default a_demo_two" href="http://localhost:2128/balances">
>>>>>>> 6e1296d4a735628ed03e8ab9d57936a716dd9e7b
            <img src="~/Images/cobranza.jpg" width="275" height="183" />
        </a>
        <p align="center"><b>Cobranza</b></p>
    </div>
</div>